.comprovante{
    background-color: #e9ebebce;
    margin: 1% 30% 1% 30%;
    padding: 25px;
    border-radius: 8px;
    
}

.comprovante__titulo{
    text-align: center;
    font-size: 2em;
    font-weight: 600;
}

.comprovante__conteudo{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 7% 0 2% 0;
    font-family:"Open Sans", sans-serif;
}


    